.content {
    grid-area: content;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
        "head head"
        "cont cont";
    grid-gap: 5px;
}
.contentElem {
    grid-area: cont;
    display: grid;
    grid-template-columns: 80px 1fr;
    /* grid-template-rows: 1fr repeat(6, auto); */
    grid-template-areas:
        "ad dis"
        "mp mp"
        ". but"
        "ap ap";
    grid-gap: 5px;
}

.allPosts {
    grid-area: ap;
}
