.content {
    display: grid;
    grid-template-columns: 150px 1fr;
    /* grid-template-rows: 30px 1fr; */
    grid-template-areas:
        "head head"
        "di dPage"
        "di dPage";
}
.header {
    grid-area: head;
}
