.content {
    grid-area: content;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
        "di di"
        "dg dw";
}
.dialogInfo {
    grid-area: di;
    background: #ff7f50;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.dialogElem {
    grid-area: dg;
}
.dialogWindow {
    grid-area: dw;
    padding: 10px;
}
.dialogItems {
    padding: 10px;
    border-right-style: groove;
    border-right-color: #ff7f50;
    border-right-width: 10px;
    padding: 10px;
}
