.article {
    grid-area: content;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
        "head head"
        "cont cont";
    grid-gap: 5px;
}
.img {
    grid-area: head;
    background: coral;
}
.content {
    grid-area: cont;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr repeat(6, auto);
    grid-template-areas:
        "ad dis"
        "mp mp"
        "but but"
        "ap ap";
    grid-gap: 5px;
}
.avaDiscript {
    grid-area: ad;
}
.discript {
    grid-area: dis;
}
.myPosts {
    grid-area: mp;
    display: grid;
}
textarea {
    grid-column: 1/-1;
    border-radius: 10px;
    border: 1px solid rgb(184, 184, 231);
}
.button {
    grid-area: but;
    justify-self: end;
}
.allPosts {
    grid-area: ap;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "ua up"
        "ua up"
        "ua up";
    grid-gap: 5px;
}
.avatar {
    grid-area: ua;
}
.userPosts1,
.userPosts2,
.userPosts3 {
    grid-area: up;
}
.post {
    height: 80px;
    border: 1px solid rgb(184, 184, 231);
    border-radius: 10px;
    padding: 10px;
}
