.App {
  width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    "header header"
    "sidebar content";
  grid-gap: 5px;
}
.Header,
.Aside {
  background: rgb(109, 230, 203);
}
.Header {
  grid-area: header;
}
.Aside {
  grid-area: sidebar;
}
.Article {
  grid-area: content;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "head head"
    "cont cont";
  grid-gap: 5px;
}
.HeaderArt {
  grid-area: head;
  background: coral;
}
.Content {
  grid-area: cont;
  /* background: darkcyan; */
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 1fr repeat(6, auto);
  grid-template-areas:
    "ad dis"
    "mp mp"
    "but but"
    /* "ap ap" */
    /* "ap ap" */
    "ap ap";
  grid-gap: 5px;
}
.AvaDiscript {
  grid-area: ad;
}
.Discript {
  grid-area: dis;
}
.MyPosts {
  grid-area: mp;
  display: grid;
}
textarea {
  grid-column: 1/-1;
  border-radius: 10px;
  border: 1px solid rgb(184, 184, 231);
}
.Button {
  grid-area: but;
  justify-self: end;
}
.AllPosts {
  grid-area: ap;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "ua up"
    "ua up"
    "ua up";
  grid-gap: 5px;
}
.UserAva {
  grid-area: ua;
}
.UserPosts {
  grid-area: up;
}
.borderPosts {
  border: 1px solid rgb(184, 184, 231);
  border-radius: 10px;
}
.App * img {
  width: 80px;
}

@media (max-width: 800px) {
  .App {
    width: auto;
    grid-template-columns: 120px 1fr;
    grid-template-areas:
      "header header"
      "sidebar content";
    /* "sidebar"; */
  }
}
@media (max-width: 600px) {
  .App {
    width: auto;
    grid-template-columns: 100px 1fr;
    grid-template-areas:
      "header header"
      "sidebar content";
    /* "sidebar"; */
  }
}
@media (max-width: 300px) {
  .App {
    width: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "content";
  }
}
