.App {
  width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    "header header"
    "sidebar content";
  grid-gap: 5px;
}

.App * img {
  width: 80px;
}

@media (max-width: 800px) {
  .App {
    width: auto;
    grid-template-columns: 120px 1fr;
    grid-template-areas:
      "header header"
      "sidebar content";
  }
}
@media (max-width: 600px) {
  .App {
    width: auto;
    grid-template-columns: 100px 1fr;
    grid-template-areas:
      "header header"
      "sidebar content";
  }
}
@media (max-width: 400px) {
  .App {
    width: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "content"
      "sidebar";
  }
}
